*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}
.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
   animation: animacao-pipe 1.6s infinite linear;
}

.games{
    padding: 10px 20px;
    font-size: 16px;
    color: #87CEEB;
    background-color: gray;
}
.mario{
width: 150px;
    position: absolute;
    bottom: 0;
   /* padding: 0;*/
}
.jump{
    animation: pulo 500ms ease-out;
}
.cloud{
    width: 550px;
    position: absolute;
    animation: animacao-nuvens 20s infinite linear;
}
@keyframes animacao-nuvens {
    from{
right: -550px;
    }
    to{
        right: 100%;
    }
}
@keyframes animacao-pipe {
    from{
        right: -80px;
    }
to{
right: 100%;
    }
}

@keyframes pulo {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}